.legend-item {
    display: flex;
    align-items: center;
}
.legend-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

#mapid {
    height: 800px; 
    width: 100%; 
    position: relative; 
    top: 0; 
    left: 0; 
    background-color: rgb(229, 227, 223);
}

@media (max-width: 768px) {
    #mapid {
        height: 500px; 
    }
}
#page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}

body {
    padding-top: 90px; 
}

.padding-card-body1{
    padding: 0.75rem !important;
}

.watermark {
    position: absolute;
    z-index: 9999999999;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #000;
    opacity: 0.2;
    pointer-events: none; /* Memastikan klik dan drag masih bisa dilakukan */
}
@media (max-width: 768px) {
    .watermark {
        font-size: 20px;        
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #dc3545; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table th,
.table td {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 12px;
}
.highlight { background-color: #ddffdd; } 
.btn{
    border-radius: 1rem;
}
.card{
    border-radius: 1rem;
}